/* 
* When possible include css in html file to speed up DOM
* construction. Only add things to sepperate file when
* neccessary (like if used by multiple pages).
*/

* {
    /* To apply to all elements*/
    border: 1px solid red !important;
}

body {
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

h1 {
    color: #00BB44;
}

h3 {
    color: #BB0505;
    background-color: #CCCCCC;
}

ul {
    list-style-type: none;
}

#my_outer_div {
    color: #00BB22;
    background-color: #DDDDDD;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 25px;
}

.my_inner_div {
    color: #00BB88;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 5px solid #CCCCCC;
    padding: 10px;
    font-size: 20px;
}

/* For bootstrap */
.my_outer_div_bs {
    color: #00BB22;
    background-color: #DDDDDD;
    font-weight: 400;
    font-size: 25px;
}

.my_inner_div_bs {
    color: #00BB88;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 5px solid #CCCCCC;
    padding: 10px;
    font-size: 20px;
}

.small-text {
    font-size: 75%;
}

.white {
    color: white;
}

